<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/servicos">Servicos</a>
        <a href="/sobre">Sobre</a>

    </nav>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, placeat quis voluptatibus nostrum accusamus sint,
        sit repellat vel ad dignissimos, quo repellendus culpa commodi distinctio dolorem consequatur ea ipsa. Pariatur
        animi iusto, vitae eligendi nesciunt voluptatibus commodi! Culpa perspiciatis repellendus officiis enim eveniet
        aliquid expedita, harum quasi et quidem rerum eos odio incidunt rem, doloribus, velit alias sapiente fugiat.
        Delectus consectetur maiores autem, enim aliquam esse at accusamus ipsam quibusdam recusandae hic labore eum
        libero temporibus ex nisi iusto ratione numquam ipsum laborum facilis. Voluptates velit itaque facilis mollitia
        aliquam! Quo nobis ad corrupti autem, amet nihil impedit, ea veniam voluptas commodi sequi, voluptatibus
        accusamus! Enim, accusantium. Omnis asperiores deserunt rem, quasi assumenda cupiditate vero dolores. Iste
        eveniet aliquid ad in deserunt distinctio, sunt, quas eius cupiditate ratione amet. Distinctio accusantium natus
        est eos pariatur explicabo. Vel quia a pariatur placeat officia similique distinctio accusantium! Consequuntur
        magni laboriosam vero qui debitis at ullam accusamus fugiat iste! Tenetur, inventore. Assumenda doloribus
        laboriosam rerum officia atque dicta error soluta asperiores ratione porro sapiente quisquam velit, corporis
        quidem nisi? Temporibus porro consequuntur, tenetur magnam pariatur id incidunt tempore veniam dolorem nemo
        laudantium at vero, exercitationem nihil illo placeat maxime blanditiis facilis eos voluptatem repudiandae
        possimus rem ab! Enim tenetur inventore debitis veniam minus? Fuga necessitatibus hic dolorem debitis. Magni
        iure nostrum qui recusandae architecto ipsam quia, dolorem quaerat veritatis eligendi enim! Facere ex aperiam
        quis. Perferendis molestiae consectetur aliquam repellendus beatae hic. Reprehenderit laudantium quidem
        excepturi ab eius explicabo dolore nisi est provident. Veniam similique laboriosam recusandae saepe quibusdam
        nihil libero vel numquam quisquam consectetur vitae eum labore excepturi tempora, ea officia sint quidem
        reiciendis dicta obcaecati iste maxime amet natus enim. Voluptates, quisquam adipisci unde cupiditate architecto
        esse quidem inventore hic perferendis dolore cum aspernatur amet consequatur nam laborum obcaecati corrupti?
        Repudiandae?</p>

</body>

</html>